/**
 * @file
 * Print styling
 *
 * We provide some sane print styling for Drupal using Zen's layout method.
 */

/**
 * By importing this CSS file as media "all", we allow this print file to be
 * aggregated with other stylesheets, for improved front-end performance.
 */
@media print {
  /* Underline all links. */
  /* line 16, ../sass/_print.scss */
  a:link,
  a:visited {
    text-decoration: underline !important;
    /* Don't underline header. */
  }
  /* line 20, ../sass/_print.scss */
  a:link.header__site-link,
  a:visited.header__site-link {
    text-decoration: none !important;
  }

  /* line 25, ../sass/_print.scss */
  #content {
    /* Add visible URL after links. */
    /* a[href]:after {
       content: " (" attr(href) ")";
       font-weight: normal;
       font-size: $base-font-size;
     }*/
    /* Only display useful links. */
    /* Add visible title after abbreviations. */
  }
  /* line 35, ../sass/_print.scss */
  #content a[href^="javascript:"]:after,
  #content a[href^="#"]:after {
    content: "";
  }
  /* line 40, ../sass/_print.scss */
  #content abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* Un-float the content. */
  /* line 46, ../sass/_print.scss */
  #content {
    float: none !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  /* Turn off any background colors or images. */
  /* line 57, ../sass/_print.scss */
  body,
  #page,
  #main,
  #content {
    color: #000;
    background-color: transparent !important;
    background-image: none !important;
  }

  /* Hide sidebars and nav elements. */
  /* line 78, ../sass/_print.scss */
  #skip-link,
  #toolbar,
  #navigation,
  .region-sidebar-first,
  .region-sidebar-second,
  .region-highlighted,
  #footer,
  .breadcrumb,
  .tabs,
  .action-links,
  .links,
  .book-navigation,
  .forum-topic-navigation,
  .pager,
  .feed-icons {
    visibility: hidden;
    display: none !important;
  }

/* Hide header and metadata */
  #header,
  .islandora-metadata,
  #download_link,
  #print_link {
    display: none;
  }
  button,
  .navigator {
    display: none;
    visibility: hidden;
  }
  .islandora-large-image-content {
    padding: 0px;
		border: 0px;
  }
  #clip {
    text-align: center;
    margin-top: 10px;
  }
  #clip img {
    height: 100% !important;
  {
}
