////////////////////////
// Islandora Styling
////////////////////////

// Simple Search //

#block-islandora-solr-simple {
	float: right;
	width: 35%;
	margin: 1em 2em 3em;
	input.form-text {
		border: 1px solid $light_grey;
		border-radius: 7px;
		color: $light_grey;
		height: 2.5em;
		width: 100%;
		padding-left: 0.5em;
		font-size: 90%;
		opacity: 0.8;
	}
	input.form-submit {
		background: url("../images/umkc/search-icon.png") no-repeat;
		border: 0 none;
		text-indent: -9999px;
		height: 24px;
		width: 24px;
		float: right;
		position: relative;
		top: -28px;
		right: 5px;
	}
	a.adv_search {
		display: block;
		text-align: right;
		font-size: 80%;
		text-decoration: none;
		position: relative;
		left: 1em;
	}
}

// Search Results and Facets //
.islandora-solr-search-results {
	float: left;
	margin-top: 2.5em;
	.islandora-solr-search-result {	
		border-bottom: 2px dotted $blue_color;
		margin-bottom: 2.5em;
		.islandora-solr-search-result-inner {
			height: 0; 
			border-bottom: 180px solid rgb(255, 255, 255);
			border-bottom: 180px solid rgba(255, 255, 255, .6);
			border-right: 80px solid transparent;
		    -webkit-background-clip: padding-box; /* for Safari */
		    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
		    dl.solr-thumb {
		    	margin: 15px;
		    	img {
		    		border: 2px solid $blue_color;
		    	}
		    }
			dl.solr-fields {
				border: 0 none;
				width: 77%;
				margin-top: 10px;
				dt {
					float: left;
				}
				dt, dd {
					border: 0 none;
					padding: 3px 0 0;
					font-size: 95%;
				}
				dt.dc-title {
					display: none;
				}
				dd.dc-title {
					font-family: "Libre Baskerville";
					font-size: 115%;
					padding-bottom: 0.5em;
					a {
						text-decoration: none;
					}
				}
				.dc-description {
					float: left;
				}
			}
		}
	}
}


#block-islandora-solr-basic-facets {
	.islandora-solr-facet-wrapper {
		h3 {
			margin: 0 0 0.5em;
		}
		ul {
			list-style: none;
			padding: 0;
		}
		.plusminus {
			display: none;
		}
	}
}



#block-islandora-solr-sort {
	margin: 0;
	position: relative;
	top: 10px;
	h2 {
		color: $light_grey;
		float: left;
		font-size: 135%;
		line-height: 1.1em;
		margin-right: 0.25em;
	}
	ul {
		list-style: none;
		margin-bottom: 0;

		li {
			display: inline;
			padding: 0 0.25em;
			a {
				text-decoration: none;
			}
			a.active {
				text-decoration: underline;	
			}
		}
	}
}

#block-islandora-solr-current-query {
	@extend #block-islandora-solr-sort;
	h3 {
		color: $light_grey;
		float: left;
		font-size: 135%;
		line-height: 1.1em;
		margin-right: 0.25em;		
	}
}

#islandora-solr-top {
  float: left;
  position: relative;
  top: 25px;
  #islandora-solr-result-count:after {
  	content: "Pages";
  	margin-left: 0.5em;
  }
}

.islandora-solr-content {
	ul.pager {
		margin: 0;
		padding: 0;
	}	
}


// Object Pages //

body.no-sidebars {
	.islandora-basic-image-content {
	  float: left;
	  width: auto;
	  img {
	  	width: 100%;
	  }
	}
	.islandora-audio-content, .islandora-pdf-content, .islandora-video-content {
		@extend .islandora-basic-image-content;	
	}
}

#clip, .islandora-pdf-link {
	margin-left: 0.5em;
}


// Browse Views and Pages //

body.page-browse {
	h2 {
	}
}
.view-collections {
	height: 0; 
	border-bottom: 280px solid rgb(255, 255, 255);
	border-bottom: 280px solid rgba(255, 255, 255, .5);
	border-right: 80px solid transparent;
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    padding-left: 1.5em;
    font-family: 'Ropa Sans';
}
.types {
	@extend .view-collections;
}
.topics {
	@extend .view-collections;
}

ul.pager {
	display: none;
}
.more-link {
	float: right;	
}
