////////////////////////
// Islandora Styling
////////////////////////

// Simple Search //
#block-islandora-solr-simple {
	float: right;
	width: 35%;
	margin: 1em 2em 3em;
	input.form-text {
		border: 1px solid $light_grey;
		border-radius: 7px;
		color: $light_grey;
		height: 2.5em;
		width: 100%;
		padding-left: 0.5em;
		font-size: 90%;
		opacity: 0.8;
	}
	input.form-submit {
		background: url("../images/umkc/search-icon.png") no-repeat;
		border: 0 none;
		text-indent: -9999px;
		height: 24px;
		width: 24px;
		float: right;
		position: relative;
		top: -28px;
		right: 5px;
	}
	a.adv_search {
		float: right;
		position: relative;
		left: 1em;
		top: 0.25em;
		font-size: 80%;
		text-decoration: none;
	}
}

// Advanced Search //
#block-islandora-solr-advanced {
	margin: 0;
	#islandora-solr-advanced-terms {
		width: 70%;
		display: inline;
		.form-type-textfield {
			width: 38%;
			margin-right: 0;
		}
		.form-text {
			width: 100%;
			border-radius: 5px;
			border: 1px solid $light_grey;
			color: #767777;
			font-size: 90%;
			opacity: 0.8;
			padding-left: 0.5em;
		}
		.form-type-select {
			margin: 0.5em 0 0 0;
		}
	}
	.islandora-solr-advanced-controls {
		margin-top: 10px;
		margin: 0.5em 0 3em 0;
		.form-submit {
			width: 7em;
		}
	}
}

// Search Results and Facets //
.islandora-solr-search-results {
	.islandora-solr-search-result {	
		border-bottom: 2px dotted $blue_color;
		margin-bottom: 2.5em;
		.islandora-solr-search-result-inner {
			height: 0; 
			border-bottom: 180px solid rgb(255, 255, 255);
			border-bottom: 180px solid rgba(255, 255, 255, .6);
			border-right: 80px solid transparent;
		    -webkit-background-clip: padding-box; /* for Safari */
		    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
		    dl.solr-thumb {
		    	margin: 15px;
		    	img {
		    		border: 2px solid $blue_color;
		    	}
		    }
			dl.solr-fields {
				border: 0 none;
				width: 77%;
				margin-top: 10px;
				dt {
					float: left;
				}
				dt, dd {
					border: 0 none;
					padding: 3px 0 0;
					font-size: 95%;
				}
				dt.dc-title {
					display: none;
				}
				dd.dc-title {
					font-family: "Libre Baskerville";
					font-size: 115%;
					padding-bottom: 0.5em;
					display: block;
					a {
						text-decoration: none;
					}
				}
				.dc-description {
					float: left;
				}
			}
		}
	}
}


#block-islandora-solr-basic-facets {
	.islandora-solr-facet-wrapper {
		h3 {
			margin: 0 0 0.5em;
		}
		ul {
			list-style: none;
			padding: 0;
		}
		.plusminus {
			display: none;
		}
	}
}


#block-islandora-solr-sort {
	margin: 0;
	height: 2em;
	h2 {
		color: $light_grey;
		float: left;
		font-size: 135%;
		line-height: 1.3em;
		margin-right: 0.25em;
	}
	ul {
		list-style: none;
		margin-bottom: 0;

		li {
			display: inline;
			padding: 0 0.25em;
			a {
				text-decoration: none;
			}
			a.active {
				text-decoration: underline;	
			}
		}
	}
}

#block-islandora-solr-current-query {
	@extend #block-islandora-solr-sort;
	h3 {
		color: $light_grey;
		float: left;
		font-size: 135%;
		line-height: 1.1em;
		margin-right: 0.25em;		
	}
}

#islandora-solr-top {
  float: left;
  clear: left;
  #islandora-solr-result-count:after {
  	content: "Pages";
  	margin-left: 0.5em;
  }
}

.islandora-solr-content {
	clear: left;
	ul.pager {
		margin: 0;
		padding: 0;
	}	
	.no-results {
		margin: 2em 0;
		font-size: 110%;
	}
}

.date-range-filter-wrapper {
	.form-type-textfield {
		label {
			width: 3em;
		}
	}
	.form-item-date-filter-date-filter-from {
		margin-right: 0.5em;
	}
}

// Mobile Facets

#block-umkcdora-umkcdora-mobile-facets {
	display: none;
}

// Islandora Displays

#block-islandora-solr-display-switch {
  float: right;
  position: relative;
  top: -46px;
  ul {
  	li {
  		float: left;
  		list-style: none;
  		a {
  			padding: 0 2px;
			display: inline-block;
			height: 20px;
			outline: medium none;
			text-indent: -9999px;
			width: 20px;
  		}
  		a.display-default {
  			background: url("../images/umkc/display-grid-list.png") no-repeat top left;
  		}
  		a.display-grid {
  			background: url("../images/umkc/display-grid.png") no-repeat top left;
  			padding: 0 !important;
  		}
  	}	
  }
}

.islandora-solr-grid {
	width: 100%;
	dl.solr-grid-field {
		margin: 1.5em 4% 1.5em 0;
	}
	dd.solr-grid-caption {
		font-family: "Libre Baskerville";
		margin-top: 5px;
		a {
			text-decoration: none;
		}
	}
}

/* Browse Collections */

.view-collections table td, .view-topics table td, .page-browse-topics .view-collections table td, .page-collections .view-collections table td, .page-browse-types .view-collections table td {
  padding: 1em 0.5em;
  width: 15%;
}

// Object Pages //

body.no-sidebars {
	.islandora-basic-image-content {
	  float: left;
	  width: auto;
	  max-width: 100%;
	  img {
	  	width: 100%;
	  }
	}
	.islandora-audio-content, .islandora-pdf-content, .islandora-video-content {
		@extend .islandora-basic-image-content;	
	}
	#mediaplayer_wrapper {
		max-width: 100%;
	}
}
#mediaplayer {
	max-width: 100% !important;
}

#clip, .islandora-pdf-link {
	margin-left: 0.5em;
}

// Browse Views and Pages //

body.page-browse {
	h2 {
	}
	ul.pager {
		display: none;
	}
}
