////////////////////////
// Navigation Styling
////////////////////////

#main-menu, .footer-menu {
	font-family: 'Ropa Sans';
	a {
		text-decoration: none;
	}
}

#navigation {
	float: right;
	margin-top: 1.7em;
	padding: 0;
	text-transform: uppercase;
	font-size: 105%;
	ul {
		li {
			border-right: 2px solid #98B0CA;
			line-height: 0.8em;
		}
		li.last {
			border: 0 none;
			padding-right: 0;
		}
	}
}

#footer {
	background: $blue_color;
	padding: 1em 3em;
	.footer-menu {
		margin: 0;
		ul {
			padding: 0;
			margin: 0;
			li {
				list-style: none;
				display: inline;
				border-right: 2px solid #E4E5E5;
				padding: 0 0.6em;
				a, a:visited {
					color: #E4E5E5;
				}
				a:hover, a:active {
					color: $yellow_color;
				}
			}
			li.last {
				border: 0 none;
				float: right;
			}
			li:nth-last-child(2) {
				border: 0 none;
			}
		}
	}
}

// Breadcrumb //

.breadcrumb {
	margin: 0.5em 0 1.5em;
}

.more-link {
	margin-right: 1em;
	font-family: 'Ropa Sans';
	font-style: italic;
	a:link, a:visited {
		text-decoration: none;
		color: $blue_color;
	}
	a:hover, a:active {
		color: $grey_color;
	}
}

// Sidebar Navs //

.region-sidebar-first {
	.block-menu {
		ul {
			padding: 0;
			li {
				list-style: none;
				padding: 2px 0;
			}
		}
	}
}