////////////////////////
// Navigation Styling
////////////////////////

#main-menu, .footer-menu {
	font-family: 'Ropa Sans';
	a {
		text-decoration: none;
	}
}

#navigation {
	float: right;
	margin-top: 1.7em;
	text-transform: uppercase;
	font-size: 90%;
	ul {
		li {
			border-right: 2px solid #98B0CA;
			line-height: 0.8em;
		}
		li.last {
			border: 0 none;
		}
	}
}

#footer {
	background: $blue_color;
	padding: 1em 3em;
	.footer-menu {
		margin: 0;
		font-size: 95%;
		ul {
			padding: 0;
			margin: 0;
			li {
				list-style: none;
				display: inline;
				border-right: 2px solid #E4E5E5;
				padding: 0 0.6em;
				a, a:visited {
					color: #E4E5E5;
				}
				a:hover, a:active {
					color: $yellow_color;
				}
			}
			li.last {
				border: 0 none;
			}
		}
	}
}

.browse-collections {
	float: right;
	ul {
		margin: 0;
		padding: 0;
		li {
			float: left;	
			list-style: none;
			margin-right: 1em;
			a {
				border: 2px solid $light_grey;
				display: inline-block;
				height: 150px;
				width: 150px;
			}
		}
		li.topic a {
			background: url("../images/umkc/topic.jpg") no-repeat;
		}
		li.type a {
			background: url("../images/umkc/type.jpg") no-repeat;			
		}
		li.collection a {
			background: url("../images/umkc/collection.jpg") no-repeat;			
		}
	}
}