/////////////////////////////////
// Pages Blocks and Views Styling
/////////////////////////////////

h1 {	
	font-family: 'Ropa Sans';
	font-weight: normal;
	font-size: 220%;
	color: $blue_color;
}

h2, h3 {
	font-family: 'Ropa Sans';
	font-style: italic;
	font-weight: normal;
	font-size: 160%;
	color: $blue_color;
}

#header {
	background: url('../images/umkc/header-top.png') repeat-x top left #fff;
	padding: 1em;
}

#page {
	position: relative;
}

#content {
	clear: both;
}


// Blocks //

.browse-collections {
	float: left;
	height: 0; 
	border-bottom: 245px solid rgb(255, 255, 255);
	border-bottom: 245px solid rgba(255, 255, 255, .5);
	border-right: 80px solid transparent;
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    padding-left: 1.5em;
    font-family: 'Ropa Sans';
    font-style: italic;
	ul {
		margin: 0;
		padding: 0;
		li {
			float: left;	
			list-style: none;
			margin-right: 1em;
			a {
			    font-size: 140%;
				border: 3px solid $light_grey;
				display: inline-block;
				height: 150px;
				width: 150px;
				line-height: 14.4em;
				text-decoration: none;
				text-indent: 5px;
				color: #E4E5E5;
				text-shadow: 1px 1px 5px #000;
				transition: all 0.2s ease 0s;
			}
			a:hover {
				opacity: 0.8;
				border-color: $blue_color;
			}
		}
		li.topic a {
			background: url("../images/umkc/topic.jpg") no-repeat;
		}
		li.type a {
			background: url("../images/umkc/type.jpg") no-repeat;			
		}
		li.collection a {
			background: url("../images/umkc/collection.jpg") no-repeat;			
		}
	}
}

// Views //

.slideshow {
	float: left;
	margin: 2em 0;
}

.welcome-message {
	float: left;
	width: 28%;
	margin-right: 5%;
	border-bottom: 5px solid $blue_color;
	h2 {
		margin: 0;
	}
	p {
		margin: 0;
		line-height: 1.75em;
	}
	.more-link {
		text-align: left;
		margin-top: 1.5em;
		font-family: 'Ropa Sans';
		font-style: italic;
		a {
			text-decoration: none;
			color: $blue_color;
		}
		a:hover, a:visited {
			color: $grey_color;
		}
	}
}

// Pages //

div.swish {
	background: url("../images/umkc/swish.png") no-repeat;
	width: 1147px;
	height: 893px;
	position: absolute;
	top: -15px;
	left: -78px;
}