/////////////////////////////////
// Pages Blocks and Views Styling
/////////////////////////////////

h1 {	
	font-family: 'Ropa Sans';
	font-weight: normal;
	font-size: 220%;
	color: $blue_color;
}

h2, h3 {
	font-family: 'Ropa Sans';
	font-style: italic;
	font-weight: normal;
	font-size: 175%;
	color: $blue_color;
}

#header {
	background: url('../images/umkc/header-top.png') repeat-x top left #fff;
	padding: 1em;
}

#page {
	position: relative;
	z-index: 5;
}

#content {
	margin: 1em auto 0;
	clear: both;
}

#footer {
	position: relative;
	z-index: 10;
}

// Blocks //

.browse-collections {
	float: left;
	height: 0; 
	border-bottom: 280px solid rgb(255, 255, 255);
	border-bottom: 280px solid rgba(255, 255, 255, .5);
	border-right: 80px solid transparent;
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    padding-left: 1.5em;
    font-family: 'Ropa Sans';
    font-style: italic;
    h2 {
    	margin-bottom: 0.7em;
    }
	ul {
		margin: 0;
		padding: 0;
		li {
			float: left;	
			list-style: none;
			margin-right: 1.5em;
			a {
			    font-size: 140%;
				border: 3px solid $light_grey;
				display: inline-block;
				height: 150px;
				width: 150px;
				line-height: 14.4em;
				text-decoration: none;
				text-indent: 5px;
				color: #E4E5E5;
				text-shadow: 1px 1px 5px #000;
				transition: all 0.2s ease 0s;
			}
			a:hover {
				opacity: 0.8;
				border-color: $blue_color;
			}
		}
		li.topic a {
			background: url("../images/umkc/topic.jpg") no-repeat;
		}
		li.type a {
			background: url("../images/umkc/type.jpg") no-repeat;			
		}
		li.collection a {
			background: url("../images/umkc/collection.jpg") no-repeat;			
		}
	}
}

// Galleria Slideshow Styling //

.slideshow {
	margin-bottom: 2.5em;
	.galleria-container {
		background: $light_grey;
		max-width: 100%;
	}

	.galleria-info {
		left: 10px;
		bottom: 60px;
		top: inherit;
		.galleria-info-text {
			display: block;
			opacity: 0.8;
		}
		.galleria-info-link {
			display: none;
		}
	}
}


// Views //

.welcome-message {
	float: left;
	width: 32%;
	margin: 0 3% 0 1.5em;
	border-bottom: 5px solid $blue_color;
	padding-bottom: 1em;
	h2 {
		margin: 0 0 0.5em;
	}
	p {
		margin: 0;
		line-height: 1.75em;
	}
	.more-link {
		text-align: left;
		margin-top: 1.5em;
		font-family: 'Ropa Sans';
		font-style: italic;
		a {
			text-decoration: none;
			color: $blue_color;
		}
		a:hover, a:visited {
			color: $grey_color;
		}
	}
}

// Pages //

div.swish {
	background: url("../images/umkc/swish.png") repeat-y;
	width: 1147px;
	height: 100%;
	position: absolute;
	top: -15px;
	left: -78px;
	opacity: 0.7;
}


// Sidebars //

.region-sidebar-second {
	padding-top: 25px;
 }


 // Not Front //

 .not-front {
 	#name-and-slogan {
 		margin-left: 0.5em;
 	}
 	#block-islandora-solr-simple {
 		margin-right: 0.5em;
 	}
 }
